@font-face{font-family:"Kalam";src:url("fonts/kalam.ttf") format("truetype");font-display:swap;}
@font-face{font-family:"Caveat";src:url("fonts/caveat.ttf") format("truetype");font-display:swap;}
@font-face{font-family:"Patrick Hand";src:url("fonts/patrickhand.ttf") format("truetype");font-display:swap;}
@font-face{font-family:"Dancing Script";src:url("fonts/dancingscript.ttf") format("truetype");font-display:swap;}
@font-face{font-family:"Sacramento";src:url("fonts/sacramento.ttf") format("truetype");font-display:swap;}